@import "tailwindcss";

@theme {
  /* Custom colors */
  --color-transparent: transparent;
  --color-white: #fff;
  --color-grey-text: #706d65;
  --color-grey-border: #d6d3d0;
  --color-grey-bg: #edebe8;
  --color-grey-disabled: #c1bdb7;
  --color-grey-bestbuy: #f2f5f7;
  --color-black: #222;
  --color-blue: #2286ff;
  --color-blue-light: #64aaff;

  /* Custom font family */
  --font-family-body: Inter, "M PLUS 1p", system-ui, sans-serif;

  /* Custom widths */
  --width-best-buy-half: calc(50% - 0.5rem);

  /* Custom max heights */
  --max-height-best-buy-max: calc(100% - 2rem);
}

@font-face {
  font-family: Inter;
  font-weight: normal;
  font-display: block;
  src: url(/fonts/Inter-Regular.ttf) format("truetype");
}
@font-face {
  font-family: Inter;
  font-weight: bold;
  font-display: block;
  src: url(/fonts/Inter-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "M PLUS 1p";
  font-weight: normal;
  font-display: block;
  src: url(/fonts/MPLUS1p-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "M PLUS 1p";
  font-weight: bold;
  font-display: block;
  src: url(/fonts/MPLUS1p-Bold.ttf) format("truetype");
}
